name: Build Fabric Mod

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build
        run: gradle build --no-daemon --stacktrace --info

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: chunkdata-client-jar
          path: build/libs/*.jar
